[Unit]
Description=kube-update.service

After=  network.target network-online.target \
        syslog.target rc-local.service \
        cloud-final.service \
        kube-apiserver.service \
        kube-controller-manager.service \
        kube-proxy.service \
        kube-scheduler.service \
        kubelet.service \
        yakity.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
TimeoutSec=0
WorkingDirectory=/var/lib/yakity

# Create the yakity log directory.
ExecStartPre=/bin/mkdir -p /var/log/yakity

# This script monitors /kube-update for uploaded files and replaces K8s
# components with updated copies.
ExecStart=/bin/sh -c '/var/lib/yakity/kube-update.sh 2>&1 | tee /var/log/yakity/kube-update.log'
