# Yakity
#
# Copyright (c) 2018 VMware, Inc. All Rights Reserved.
#
# This product is licensed to you under the Apache 2.0 license (the "License").
# You may not use this product except in compliance with the Apache 2.0 License.
#
# This product may include a number of subcomponents with separate copyright
# notices and license terms. Your use of these subcomponents is subject to the
# terms and conditions of the subcomponent's license, as noted in the LICENSE
# file.

[Unit]
Description=kube-update.service

After=  network.target network-online.target \
        syslog.target rc-local.service \
        cloud-final.service \
        kube-apiserver.service \
        kube-controller-manager.service \
        kube-proxy.service \
        kube-scheduler.service \
        kubelet.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
TimeoutSec=0
WorkingDirectory=/var/lib/yakity

# Create the yakity log directory.
ExecStartPre=/bin/mkdir -p /var/log/yakity

# This script monitors /kube-update for uploaded files and replaces K8s
# components with updated copies.
ExecStart=/bin/sh -c '/var/lib/yakity/kube-update.sh 2>&1 | tee /var/log/yakity/kube-update.log'
